<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>ng-annotate</title>
	<meta charset="utf-8"> 
	<link href="./css/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="./css/lib/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="../dev/ng-annotate-unstable.css" rel="stylesheet" type="text/css">
	<link href="./css/main.css" rel="stylesheet" type="text/css">
	<script src="./js/lib/jquery-1.11.0.min.js" type="text/javascript"></script>
	<script src="./js/lib/angular.js" type="text/javascript"></script>
	<script src="../dev/ng-annotate-unstable.js" type="text/javascript"></script>
</head>
<body>
	<div class="container" ng-controller="MainController">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1>Test Application - Annotate Text</h1>
				<h2>Using ng-annotage to annotate text by selecting it</h2>
			</div>
		</div>
		<div class="row" ng-repeat="t in texts">
			<div style="width: 700px; margin: 0 auto;">
				<ng-annotate options="options"
					annotations="annotations[$index]"
					on-annotate="onAnnotate"
					on-annotate-error="onAnnotateError"
					text="t">
				</ng-annotate>

				<div style="padding: 0 50px">
					<h3 class="mt-large">Annotation summary</h3>
					<ul>
						<li ng-repeat="a in annotationsAsFlatList()">{{a.data.comment}} <span ng-if="a.data.points">({{a.data.points}} points)</span></li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<script src="./js/app.js" type="text/javascript"></script>
</body>
</html>