<!doctype html>
<html ng-app="app">
<head>
	<title>ng-annotate-text demo</title>
	<meta charset="utf-8">

	<!-- ng-annotate-text -->
	<link href="lib/ng-annotate-text-latest.min.css" rel="stylesheet" />
	<!--<link href="lib/ng-annotate-text-unstable.min.css" rel="stylesheet" />-->

	<!-- demo -->
	<link href="dist/main.min.css" rel="stylesheet" />

</head>
<body>

	<div class="container" ng-controller="MainController">

		<div class="header">
			<h1>ng-annotate-text demo</h1>

			<p>
				This is a demo implementation of
				<a href="https://github.com/DigiExam/ng-annotate-text/">ng-annotate-text</a>,
				an AngularJS directive for annotating text.
			</p>

			<p>
				<a href="https://github.com/DigiExam/ng-annotate-text/tree/gh-pages">Here is the source code</a>
				for this demo.
			</p>

			<p style="display: none"><button ng-click="clearPopups()">Clear popups</button></p>
		</div>

		<div class="example" ng-repeat="text in demoTexts">
			<div class="example-source">
				<h2>Example</h2>

				<ng-annotate-text
					class="example-source-text"
					readonly="false"
					popup-controller="'AnnotationController'"
					popup-template-url="'partials/annotation.html'"
					tooltip-controller="'AnnotationController'"
					tooltip-template-url="'partials/annotation-tooltip.html'"
					annotations="annotations[$index]"
					on-annotate="onAnnotate"
					on-annotate-error="onAnnotateError"
					on-popup-show="onPopupShow"
					text="text">
				</ng-annotate-text>
			</div>

			<div class="example-summary">
				<h3>Annotation summary</h3>

				<ul>
					<li ng-repeat="a in annotationsAsFlatList()">
						{{a.data.comment}}
						<span ng-if="a.data.points">
							({{a.data.points}}
							<ng-pluralize
									count="a.data.points"
									when="{'-1': 'point', '1': 'point', 'other': 'points'}"></ng-pluralize>)
						</span>
					</li>
				</ul>
			</div>
		</div>

	</div>

	<!-- Demo dependencies -->
	<script src="lib/jquery.js"></script>
	<script src="lib/angular.js"></script>

	<!-- ng-annotate-text -->
	<script src="lib/ng-annotate-text-latest.min.js"></script>
	<!--<script src="lib/ng-annotate-text-unstable.min.js"></script>-->

	<!-- demo -->
	<script src="dist/main.min.js"></script>

</body>
</html>
