$colors: (
	'red': #fcbcbc,
	'green': #c7fcbc,
	'blue': #bcdffc,
	'pink': #fcbcfa,
	'yellow': #fafcbc,
	'aqua': #bcfcf7
);

@each $type, $color in $colors {
	.ng-annotation-type-#{$type} { color: #000; background: $color; border-color: $color; }
}
.ng-annotation-type-strike { text-decoration: line-through; }

.ng-annotation-popup,
.ng-annotation-tooltip {
	display: none;
	position: absolute;
	z-index: 1000;
}
