header {
	margin: 10% 0;
}

header p {
	margin: 20px 0 0;
}

section {
	margin-top: 40px;
}

h1 {
	font-family: Georgia, serif;
}

label {
	cursor: pointer;
}

.container {
	max-width: 45em;
}

.form-group-title {
	font-weight: bold;
	margin-bottom: 5px;
}

.ng-annotation-popup textarea,
.ng-annotation-popup input {
	margin-bottom: 10px;
}

.template-list li + li {
	margin-top: 5px;
}

.template-button {
	display: block;
	width: 100%;
	background-color: #f3f3f3;
	border: 0;
	border-radius: 5px;
	text-align: left;
}

.template-button.red { color: #000; background: #fcbcbc; }
.template-button.green { color: #000; background: #c7fcbc; }
.template-button.blue { color: #000; background: #bcdffc; }
.template-button.pink { color: #000; background: #fcbcfa; }
.template-button.yellow { color: #000; background: #fafcbc; }
.template-button.aqua { color: #000; background: #bcfcf7; }
