<div>
	<label for="comment">
		Comment
	</label>
	<textarea id="comment" ng-model="$annotation.data.comment" class="form-control" ng-disabled="$readonly"></textarea>
	<label for="points">
		Points
	</label>
	<input type="number" ng-model="$annotation.data.points" class="form-control" ng-disabled="$readonly"></input>
	<label for="color" ng-if="!$readonly">
		Color
	</label>
	<select id="color" class="form-control" ng-model="$annotation.type" ng-options="c.value as c.name for c in annotationColours" ng-if="!$readonly">
		<option value="">-- Choose color --</option>
	</select>
	<div style="margin-top: 30px;" ng-if="!$readonly">
		<button class="btn btn-success pull-right" ng-click="close()">Ok</button>
		<button class="btn" ng-click="reject()" ng-show="$isNew">Cancel</button>
		<button class="btn btn-danger" ng-click="reject()" ng-show="!$isNew">Delete</button>
	</div>
</div>