<div class="form-group">
	<label for="ng-annotate-edit-comment">Comment</label>
	<textarea
			id="ng-annotate-edit-comment"
			class="form-control"
			ng-model="$annotation.data.comment"
			ng-disabled="$readonly">
	</textarea>
</div>

<div class="form-group ng-annotate-popup-points">
	<label for="ng-annotate-edit-points">Points</label>
	<input
			id="ng-annotate-edit-points"
			type="number"
			class="form-control"
			ng-model="$annotation.data.points"
			ng-disabled="$readonly" />
</div>

<div class="form-group" ng-if="!$readonly">
	<label class="form-group-title">Color</label>
	<ul class="list-unstyled list-colors clearfix">
		<li ng-repeat="color in annotationColours">
			<button
					class="swatch swatch-color"
					title="{{color.name}}"
					ng-click="useColor(color)"
					ng-class="[color.value, isActiveColor(color) ? 'active' : '']">
				{{color.name}}
			</button>
		</li>
	</ul>
</div>

<div class="form-group" ng-if="!$readonly">
	<div class="form-group-title">Predefined</div>
	<ul class="list-unstyled list-templates">
		<li ng-repeat="template in templates">
			<button
					class="swatch"
					ng-class="template.type"
					ng-click="useTemplate(template)">
				<span class="pull-left">{{template.comment}}</span>
				<span class="pull-right">{{template.points}}</span>
			</button>
		</li>
	</ul>
</div>

<div ng-if="!$readonly">
	<button class="btn btn-success pull-right" ng-click="close()">Ok</button>
	<button class="btn btn-default" ng-click="reject()" ng-show="$isNew">Cancel</button>
	<button class="btn btn-danger" ng-click="reject()" ng-show="!$isNew">Delete</button>
</div>
