$color-text: #333;
$color-bg: #fff;

$fontSize: 14px;
$lineHeight: 1.42858; // 20.00012px

$fontSize-small: 13px;
$lineHeight-small: 1.53847; // 20.00011px

$fontFamily-sansSerif: "Helvetica neue", Helvetica, Arial, sans-serif;
$fontFamily-serif: Georgia, serif;

$space: round($fontSize * $lineHeight);

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 5%;
	color: $color-text;
	background: $color-bg;
	font: $fontSize#{"/"}$lineHeight $fontFamily-sansSerif;
}

.container {
	margin: 0 auto;
	max-width: 60em;
}

.header {
	margin-bottom: $space * 2;

	h1 {
		margin-bottom: $space * 2;
		font: normal ($space * 2)#{"/"}1 $fontFamily-serif;
	}

	p {
		margin-top: $space;
	}
}

.example {
	margin-bottom: $space * 2;
	overflow: hidden;

	h2,
	h3 {
		margin-bottom: $space;
	}
}

.example-source {
	float: left;
	width: 70%;
	padding-right: $space * 4;
}

.example-source-text {
	white-space: pre-wrap;
}

.example-summary {
	float: left;
	width: 30%;

	h3 {
		font-weight: normal;
	}

	ul {
		margin-left: 15px; // Should align the bullets with the summary spine
		font-size: $fontSize-small;
		line-height: $lineHeight-small;
	}

	li {
		margin-bottom: $space / 2;
	}
}
